<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibitted this article from being saved!</h2>
    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= form.label :username, "Username" %><br>
    <%= form.text_field :username %><br><br>
  </p>
  <p>
    <%= form.label :email, "Email" %><br>
    <%= form.email_field :email %><br><br>
  </p>
  <p>
    <%= form.label :password, "Password" %><br>
    <%= form.password_field :password %><br><br>
  </p>
  <p><%= form.submit "Submit" %></p>
<% end %>